/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "tailwindcss";

body {
  position: relative;
  color: #37352F;
  height: 100vh;
  background: #FBFBFA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
